<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.mutablelogic.PostgresPrefPane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>PostgresPrefPane-nib</string>
	<key>NSPrefPaneIconFile</key>
	<string>PostgresPrefPane-icon.tiff</string>
	<key>NSPrefPaneIconLabel</key>
	<string>PostgreSQL</string>
	<key>NSPrincipalClass</key>
	<string>PostgresPrefPaneController</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PostgresPrefPaneHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>PostgresPrefPaneHelp</string>
</dict>
</plist>
