<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mutablelogic.PostgresServerApp</string>

	<!-- we use the _mysql user -->
	<key>UserName</key>
	<string>_mysql</string>
	<key>GroupName</key>
	<string>_mysql</string>
	
	<key>OnDemand</key>
	<false/>
	<key>Debug</key>
	<false/>

	<!-- where the application lives, arguments -->
	<key>ProgramArguments</key>
	<array>
	  <string>/Library/PreferencePanes/PostgreSQL.prefPane/Contents/MacOS/PostgresServerApp</string>
	  <string>-data</string>
	  <string>/Library/Application Support/PostgreSQL</string>
	</array>

	<!-- description of service -->
	<key>ServiceDescription</key>
	<string>PostgreSQL server</string>

</dict>
</plist>
