<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRANCH</key>
	<string>dev</string>
	<key>CF_BUNDLE_VERSION</key>
	<string>0.1009.0</string>
	<key>RELEASE_COUNTER</key>
	<integer>0</integer>
	<key>RELEASE_HASH</key>
	<string></string>
	<key>RELEASE_TYPE</key>
	<string>alpha</string>
	<key>RELEASE_VERSION</key>
	<string>1009</string>
	<key>TAG</key>
	<string>alpha-009</string>
</dict>
</plist>
